<div class="container-fluid ">
    <div class="row ">
        <div class="col-md-12 col-lg-8 offset-lg-2 mb-2 text-center" style="position: relative;">
            <h1>A never ending pursuit of higher understanding</h1>
            <hr class=" w-75" />
            <!-- Button for toggling Resume/Project View on screen sizes med and larger -->
            <div class="d-none d-md-block" style="position:absolute;left:0;z-index: 2;">
                <button class="btn btn-dark btn-outline-warning mx-2" (click)="this.toggle()" style="width:140px">
                    View {{this.notViewed()}}
                </button>
                <img src="/assets/icons/Arrow@0.18x.png">
            </div>
            <!-- Button for toggling Resume/Project View on small screens -->
            <button class="btn btn-dark btn-outline-warning small-disp" (click)="this.toggle()"
                style="position: absolute;left:5px;z-index: 2;">
                {{this.notViewed()}}
            </button>
            

            <!-- Resume View -->
            <div class="container-fluid" [@changeView]="resumeTprojectsF ? 'Active' : 'Inactive'">
                <div class="row">
                    <div class="col">
                        <app-resume></app-resume>
                    </div>
                </div>
            </div>
            <!-- Project Component  -->
            <div class="container-fluid" [@changeView]="!resumeTprojectsF ? 'Active' : 'Inactive'">
                <div class="row">
                    <div class="col">
                        <app-projects></app-projects>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row "  >
        <div class="col text-center no-gutters ">
            <div>
                Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel
                perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
    </div>
</div>
