<!-- Main Project Component Display -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h3>Projects</h3>
            <p>
                These are projects that I've recently completed, as well as some which I'm currently planning or
                working on actively!
                <br>
                You can click on the body of a card to see a more detailed description.
                <!-- Projects Color coded as follows: -->

            </p>
            <!-- <div class="row">
                <div class="col-lg-10 offset-1 ">
                    <ul class="list-inline">
                        <li class="mx-2 list-inline-item text-success "> <strong> For finished projects </strong></li>
                        <li class="mx-2 list-inline-item text-warning "><strong>For projects that are currently being
                                worked on</strong></li>
                        <li class="mx-2 list-inline-item text-primary "><strong>For projects that are planned</strong>
                        </li>
                    </ul>
                </div>
            </div> -->

            <div class="row justify-content-around align-items-stretch proj-row" >

                <div *ngFor="let project of this.projects_display;" class="col-10 col-lg-6 col-xl-5">
                    <div class="card h-100">
                        <div class="card-header" >
                            <!-- [ngClass]="{
                            'bg-success':project.status=='finished',
                            'bg-warning':project.status=='in-progress',
                            'bg-primary':project.status=='planned'
                        }"
                    
                    Saving to re-add project color coding-->
                            <strong>{{project.title}}</strong>
                        </div>
                        <div *ngIf="project.details "(click)="open(project)">
                            <div class="card-body pt-0 " [ngClass]="{'btn btn-d':project.details.text!=''}">
                                <img *ngIf="project.img!=''" src="{{project.img}}" alt="Preview Image" width="75%">
                                <p>{{project.description}}</p>
                                <ul *ngIf="project.bullets!=[]">
                                    <li *ngFor="let bullet of project.bullets">{{bullet}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer" *ngIf="project.hostedURL || project.gitURL" style="position: absolute;bottom:0;width:100%">
                            <span *ngIf="project.hostedURL!=''" class="mx-1">
                                <a href="{{project.hostedURL}}" target="_blank" class="btn btn-secondary">View Site</a>
                            </span>
                            <span *ngIf="project.gitURL!=''" class="mx-1">
                                <a href="{{project.gitURL}}" target="_blank" class="btn btn-secondary">View Code</a>
                            </span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-2 offset-lg-2 col">
                    <button class="btn" *ngIf="this.current_page>1" (click)="this.projectsPage(this.current_page-1)">
                        Previous
                    </button>
                </div>
                <div class="col-lg-4 col-12">
                    <span class="mx-2" *ngFor="let pg of this.pages">
                        <button class="btn" [ngClass]="{'btn-primary':this.current_page==pg}"
                            (click)="this.projectsPage(pg)">{{pg}}</button>
                    </span>
                </div>
                <div class="col-lg-2 col">
                    <button class="btn mx-2" *ngIf="this.current_page &lt; this.nPages"
                        (click)="this.projectsPage(this.current_page+1)">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>