<!-- Modal For project Details Display -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="projectDetail">Project</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{project.title}}
    </div>
  </ng-template>

<!-- Main Project Component Display -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h3>Projects</h3>
            <p>
                These are projects that I've recently completed, as well as some which I'm currently planning or
                working on actively!
            </p>
            <div class="row justify-content-around">

                <div *ngFor="let project of this.projects;" class="col-lg-4 ">
                    <div class="card h-100">
                        <div class="card-header"><strong>{{project.title}}</strong></div>
                        <div class="card-body btn" (click)="open(content,project)">
                            <img *ngIf="project.img!=''" src="{{project.img}}" alt="Preview Image" width="75%">
                            <p>{{project.description}}</p>
                            <ul *ngIf="project.bullets!=[]">
                                <li *ngFor="let bullet of project.bullets">{{bullet}}</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <span *ngIf="project.hostedURL!=''" class="mx-1">
                                <a href="project.hostedURL" target="_blank" class="btn btn-secondary">View Site</a>
                            </span>
                            <span *ngIf="project.gitURL!=''" class="mx-1">
                                <a href="project.gitURL" target="_blank" class="btn btn-secondary">View Code</a>
                            </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>