<div class="container-fluid">
    <div class="row my-2">
        <div class="col-sm-5 offset-1 text-center">
            <img src="../assets/images/Profile.JPG" alt="A Photo of myself" width="90%" >
            <div><i>A picture taken for me by my girlfriend Leah</i> </div>
        </div>
        <div class="col-sm-5 text-center">
            <h1>About Me</h1>
            <div class="separator-bar"></div>
            <p>
                My name is Theodore R Freeman. For most people I go by Ted. I grew up in Longmont Colorado, where I've lived most of my life. 
                I'm an artist, pilot, motorcyclist, handyman, outdoorsman, and complete nerd.
            </p>
            <p>

                I started Highschool in Longmont, but was given an amazing opportunity to finish my last year and a half in South Korea at 
                Korea International School. I learned a lot at KIS that has helped me change my perspective, think about the bigger picture,
                 and be open to other new experiences. 
            </p>
            <p>
                After graduating, I went back to Colorado to attend college at CU Boulder. There I studied Computer Science, but also had 
                amazing classes in philosophy, mythology, art in different forms and art history. I earned my BA of Computer Science
                and minor in Nordic Studies in May of 2018.  
            </p>
            <p>
                After completing my degree, I shifted my focus to aviation. I come from a family of pilots, my father being one of the best 
                aerobatic pilots in the country. He took on the role of my instructor, and six months later I earned my private pilot 
                certificate, tailwheel and high-performance endorsements. I've since gone on many awesome adventures with my girlfriend, 
                Leah, who earned her certificate right before me. We had one big trip in a small, single engine aircraft, where we flew ourselves from Longmont, over the Rocky Mountains to 
                Taos, NM and then to Santa Fe where we stayed for several days. On our way back, we flew up and along the Front Range to Pueblo
                and back home. It was a fun trip and I'm looking forward to doing it again! 
            </p>
            <p>
                Most recently I've moved to Cedar City, Utah with Leah! She will be attending Southern Utah University 
                starting Fall 2020 working towards certificates and ratings for Helicopters as well as her BA, and I can not be more proud. Since Leah
                is focusing on her education, I'm focusing on my career! I have been working hard to study and expand on my skillset so that I can build
                better applications, satisfy a greater variety of needs and learn about new technologies that can push the boundries of what I'm 
                capable of!
            </p>
        </div>
    </div>
</div>