<div class="container-fluid">
    <div class="row my-2">
        <div class="col-lg-5 offset-1 text-center">
            <img src="../assets/images/Profile.JPG" alt="A Photo of myself" width="90%" class="mt-2" >
            
        </div>
        <div class="col-lg-5 text-left">
            <h1 class="text-center">About Me</h1>
            <div class="separator-bar"></div>
            <p>
                My name is Theodore R Freeman, but I go by Ted.
                
                <br>
                I'm a nerd, artist, pilot, motorcyclist, handyman and, outdoorsman.
            </p>
            <p>
                I am currently living in Cedar City, UT and looking for work in software development. My strengths lie in web development with an interest in becoming a full stack
                engineer, as well as in machine learning. 
            </p>
            <p> 
                In April 2021, I passed the SY0-601 exam for the CompTIA Security + certificate. In addition to defensive cyber security, I spent time last summer working on
                skills in ethical hacking. I spent many nights in my spare time after work learning about different common and uncommon web vulnerabilities and how to exploit them.
                My goal was to begin bug bounty hunting. I am currently looking for a new full time job, but I would like to return to bug bounty.
            </p>
            <hr>
            <p>
                I started Highschool in Longmont Colorado where I grew up. I had an amazing opportunity to complete my last year and a half of Highschool
                 at Korea International School in South Korea. I learned a lot at KIS that has helped me change my perspective, think about the bigger picture,
                 and be open to new experiences.
            </p>
            <p>
                After graduating, I went back to Colorado to attend college at CU Boulder. There I studied Computer Science, but also had 
                amazing classes in philosophy, mythology, art and art history. One of the classes I found most interesting was intro to cybersecurity,
                taught by Professor Daniel Massey. His class was my first exposure to a lot of the concepts of cybersecurity. It was really intriguing and
                 brought me onto this career path. I earned my BA in Computer Science and minor in Nordic Studies in May of 2018. 
            </p>
            <!-- <p>
                After completing my degree, I shifted my focus to aviation. I come from a family of pilots and my father in particular is an amazing aerobatic pilot.
                He took on the role of my instructor, and six months later I earned my private pilot certificate, tailwheel and high-performance endorsements. I intend 
                to one day continue my flight training and earn at least my Instrument and Multi-engine Ratings. 
            </p> -->
            
            
        </div>
    </div>
</div>