<div class="container-fluid">
    <div class="row my-2">
        <div class="col-lg-5 offset-1 text-center">
            <img src="../assets/images/Profile.JPG" alt="A Photo of myself" width="90%" class="mt-2" >
            
        </div>
        <div class="col-lg-5 text-left">
            <h1 class="text-center">About Me</h1>
            <div class="separator-bar"></div>
            <p>
                My name is Theodore R Freeman, but I go by Ted.
                
                <br>
                I'm a complete nerd, artist, pilot, motorcyclist, handyman and, outdoorsman.
            </p>
            <p>
                I am currently living in Cedar City, UT and pursuing a career in cybersecurity. Most recently, I passed the SY0-601 exam for the CompTIA 
                Security + certificate. I'm really excited to get going in this field and my goal is to eventually move into penetration 
                testing and bug bounty as I build on my understanding of computer systems and how everything works together! 
            </p>
            <p>
                I started Highschool in Longmont Colorado, where I grew up, but I was given an amazing opportunity to finish my last year and a half in South Korea at 
                Korea International School. I learned a lot at KIS that has helped me change my perspective, think about the bigger picture,
                 and be open to new experiences. 
            </p>
            <p>
                After graduating, I went back to Colorado to attend college at CU Boulder. There I studied Computer Science, but also had 
                amazing classes in philosophy, mythology, art and art history. One of the classes I found most interesting was intro to cybersecurity
                taught by Professor Daniel Massey. It was my first exposure to a lot of the concepts of cyber security and was really intriguing. That first class
                is what brought me onto this career path. I earned my BA in Computer Science and minor in Nordic Studies in May of 2018. 
            </p>
            <p>
                After completing my degree, I shifted my focus to aviation. I come from a family of pilots, my father being one of the best 
                aerobatic pilots in the country. He took on the role of my instructor, and six months later I earned my private pilot 
                certificate, tailwheel and high-performance endorsements. I intend to one day continue my flight training and earn at least
                my Instrument and Multi-engine Ratings. 
            </p>
            
            
        </div>
    </div>
</div>