/* You can add global styles to this file, and also import other style files */
@import url("https://bootswatch.com/4/lux/bootstrap.min.css");

.separator-bar{
    height:4px;
    display: flexbox;
    width: 100%;
    background-color: #ff7300;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


#card-image{
    max-height: 100%;
    max-width:100%;
    height:auto;
    object-fit:contain;
}

@include media-breakpoint-down(sm){
    .card-col{height:100%}
    .card-img-display{height: 100%;}
}
@include media-breakpoint-up(sm){
    .card-col{height: 65vh;}
    .card-img-display{height:90%;}
}
 
@include media-breakpoint-down(md) { 
    *{font-size:3vw;}

    h1{
        font-size:6vw;
    }
    h2{
        font-size:5.5vw;
    }
    h3{
        font-size:5vw;
    }
    h4{
        font-size:4.5vw;
    }
    h5{
        font-size:4vw;
    }


}

