/* You can add global styles to this file, and also import other style files */
@import url("https://bootswatch.com/4/lux/bootstrap.min.css");

.separator-bar{
    height:4px;
    display: flexbox;
    width: 100%;
    background-color: rgb(255, 115, 0);
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
 
@include media-breakpoint-down(md) {    
    h1{
        font-size:8vw;
    }
    h2{
        font-size:7vw;
    }
}


// @media screen and (min-width:250px){
//     body{font-size:60%}
// }

// @media screen and (min-width:500px){
//     body{font-size:75%}
// }
// @media screen and (min-width:1200px){
//     body{font-size:100%}
// }
