<div class="container-fluid ">
    <div class="row ">
        <div class="col-md-12 col-lg-8 offset-lg-2 mb-2" style="position: relative;">

            <!-- Button for downloading resume on screen sizes med and larger -->
            <!-- <div class="d-none d-lg-block" style="position: absolute;right:0;z-index: 2;">
                <button class="btn btn-dark btn-outline-warning">
                    <a href="/assets/documents/resume-download.pdf" download="Theodore_Freeman_Resume.pdf">Download
                        Resume PDF</a>
                </button>
            </div>
            <!-- Button for downloading resume on small screens -->
            <div class=" d-lg-none d-block" style="position: absolute;right:0;z-index: 2;">
                <button class="btn btn-dark btn-outline-warning">
                    <a href="/assets/documents/resume-download.pdf" download="Theodore_Freeman_Resume.pdf">Download</a>
                </button>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="row no-gutters text-center">
                            <div class="col">
                                <h2>Resume</h2>
                                <hr />
                                <h3>Theodore R Freeman</h3>
                                <div class="separator-bar my-2"></div>
                                <h5>
                                    I'm a Computer Science Graduate and Private Pilot with a variety of skills and
                                    interests
                                    which feed
                                    an
                                    undying hunger for knowledge.
                                </h5>
                            </div>
                        </div>

                        <div class="separator-bar my-2"></div>
                        <!-- Skills and Education -->
                        <div class="row no-gutters">
                            <!-- Skills -->
                            <div class="col-4 offset-1">
                                <div class="row ">
                                    <h3 class="mx-auto">Skills</h3>
                                </div>
                                <div class="row">
                                    <ul>
                                        <li>
                                            <ng-template #WebDev>
                                                <ul>
                                                    <li>HTML</li>
                                                    <li>CSS</li>
                                                    <li>SCSS</li>
                                                    <li>Typescript</li>
                                                    <li>Angular</li>
                                                    <li>Bootstrap</li>
                                                </ul>
                                            </ng-template>
                                            <strong class="skill" placement="right" [ngbTooltip]="WebDev">Web
                                                Development</strong>

                                        </li>
                                        <li>
                                            <ng-template #Langs>
                                                <ul>
                                                    <li>Python</li>
                                                    <li>C++/C</li>
                                                    <li>C#</li>
                                                    <li>Scalla</li>
                                                </ul>
                                            </ng-template>
                                            <strong class="skill" placement="right" [ngbTooltip]="Langs">Other
                                                Languages</strong>
                                        </li>
                                        <li>
                                            <ng-template #Backend>
                                                <ul>
                                                    <li>MySql</li>
                                                    <li>Cassandra</li>
                                                    <li>MongoDB</li>
                                                    <li>PostgreSQL</li>
                                                    <li>Node.js</li>
                                                    <li>Apache</li>
                                                </ul>
                                            </ng-template>
                                            <strong class="skill" placement="right"
                                                [ngbTooltip]="Backend">Backend</strong>
                                        </li>
                                        <li>
                                            <ng-template #ML>
                                                <ul>
                                                    <li>Jupyter Notebooks</li>
                                                    <li>SciKit Learn</li>
                                                    <li>Matplotlib</li>
                                                    <li>Pandas</li>
                                                    <li>Numpy</li>
                                                </ul>
                                            </ng-template>
                                            <strong class="skill" placement="right" [ngbTooltip]="ML">Machine
                                                Learning</strong>

                                        </li>
                                        <li>
                                            <ng-template #VC>
                                                Git
                                            </ng-template>
                                            <strong class="skill" placement="right" [ngbTooltip]="VC">Version
                                                Control</strong>

                                        </li>
                                        <li>
                                            <ng-template #Others>
                                                <ul>
                                                    <li>Adobe Photoshop</li>
                                                </ul>
                                            </ng-template>
                                            <strong class="skill" placement="right"
                                                [ngbTooltip]="Others">Others</strong>
                                            <!--  -->
                                        </li>
                                    </ul>


                                </div>

                            </div>
                            <div class="col-1 offset-1">
                                <div class="separator-col"></div>
                            </div>
                            <!-- Education -->
                            <div class="col-5">
                                <div class="row">
                                    <h3 class="mx-auto">Education</h3>
                                    <span>
                                        <h5>Bachelors of Computer Science</h5>
                                        GPA: 2.93
                                        <br>
                                        Minor: Nordic Studies
                                    </span>
                                    <span>
                                        <br>
                                        University of Colorado, Boulder</span>
                                </div>
                            </div>

                        </div>
                        <div class="separator-bar mt-2"></div>

                        <!-- Work Experience -->
                        <div class="row mb-2 ">

                            <div class="col-12 mt-2 ">
                                <h3 class="mx-auto text-center">Work History</h3>
                                <div class="row">
                                    <div class="col-lg-4 mx-auto my-2" *ngFor="let job of this.jobs">
                                        <div class="card">
                                            <div class="card-header"><strong>{{job.title}}</strong></div>
                                            <div class="card-body">
                                                <strong>Company:</strong> {{job.company}}
                                                <br>
                                                <strong>Dates:</strong> {{job.dates}}
                                                <br>
                                                <strong>Description:</strong> {{job.desc}}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="separator-bar my-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-container text-center">
    <h4>Contact Me</h4>
    <span>
        <a href="https://github.com/TheoFree" target="_blank">
            <img class="mx-2" src="/assets/icons/github-32px.png" alt="my github">
        </a>
        <a href="https://www.linkedin.com/in/theodore-freeman-595079115/" target="_blank">
            <img class="mx-2" src="/assets/icons/linkedin-32px.png" alt="my linkedin">
        </a>
        <img class="mx-2" src="/assets/icons/mail.png" alt="my email" ngbPopover="theofreeman@gmail.com"
            popoverTitle="My email" placement="top" style="cursor: pointer;">
        <img class="mx-2" src="/assets/icons/phone.png" alt="my phone" ngbPopover="720-737-7289" popoverTitle="My Cell"
            placement="bottom" style="cursor: pointer;">
    </span>
</div>
<div style="position: relative;bottom:0;width: 100%;">
    <div style=" margin: auto; width: 50%;text-align: center;">Icons made by <a
            href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel
            perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>